title: Oakland Pride
email: info@oaklandpride.org
description: Celebrating the LGBTQ+ community in Oakland, California.
baseurl: "" # the subpath of your site, e.g. /blog
url: "oaklandpride.org" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: oaklandpride
github_username:  oaklandpride

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  load_paths:
    - assets
    - vendor/bundle/ruby/3.4.0/gems/bootstrap-5.3.5/assets/stylesheets/


exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
