<footer class="bg-secondary text-dark py-4">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col text-uppercase">
                <h2 class="fs-1 fw-bold">Oakland Pride</h2>
            </div>
            <div class="col text-end fs-2 d-flex justify-content-evenly">
                <a href="#" class="link-dark"><i class="bi bi-instagram"></i></a>
                <a href="#" class="link-dark"><i class="bi bi-facebook"></i></a>
                <a href="#" class="link-dark"><i class="bi bi-threads"></i></a>
                <a href="#" class="link-dark"><i class="bi bi-youtube"></i></a>
                <a href="#" class="link-dark"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
        <div class="row" style="font-size: 1.1rem;">
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-dark" href="/tickets/">Tickets</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/history/">History</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/sponsorship/">Sponsorship</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/media/">Press</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-dark" href="/experiences/">Experiences</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/lineup/">Lineup</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/parade/">Parade</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/accessibility/">Accessibility</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-dark" href="/info/">Info</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/residents/">Residents</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/volunteer/">Volunteer</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/news/">News</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-dark" href="/merch/">Merch</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/downtown/">Downtown Oakland</a></li>
                    <li class="nav-item"><a class="nav-link link-dark" href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div class="col col-4 p-5">
                <img src="/assets/logo.png" alt="Oakland Pride Logo" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"><a class="link-dark" href="">Privacy Policy</a></div>
            <div class="col text-end"><a class="link-dark" href="">Terms & Conditions</a></div>
        </div>
        <p class="mt-5 fw-bold">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved</p>
    </div>
</footer>