<footer class="bg-secondary text-light py-4">
    <div class="container">
        <div class="row align-items-center mb-4">
            <div class="col text-uppercase">
                <h2 class="fs-1 fw-bold">Oakland Pride</h2>
            </div>
            <div class="col text-end fs-2 d-flex justify-content-evenly">
                <a href="#" class="link-light"><i class="bi bi-instagram"></i></a>
                <a href="#" class="link-light"><i class="bi bi-facebook"></i></a>
                <a href="#" class="link-light"><i class="bi bi-threads"></i></a>
                <a href="#" class="link-light"><i class="bi bi-youtube"></i></a>
                <a href="#" class="link-light"><i class="bi bi-tiktok"></i></a>
            </div>
        </div>
        <div class="row" style="font-size: 1.1rem;">
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Tickets</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">History</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Sponsorship</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Press</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Experiences</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Lineup</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Parade</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Accessibility</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Info</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Residents</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Volunteer</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">News</a></li>
                </ul>
            </div>
            <div class="col text-light">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link link-light" href="#">Merch</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Downtown Oakland</a></li>
                    <li class="nav-item"><a class="nav-link link-light" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col col-4 p-5">
                <img src="/assets/logo.png" alt="Oakland Pride Logo" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"><a class="link-light" href="">Privacy Policy</a></div>
            <div class="col text-end"><a class="link-light" href="">Terms & Conditions</a></div>
        </div>
        <p class="mt-5 fw-bold">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved</p>
    </div>
</footer>