<div class="bg-light">
    <div class="container">
        <ul class="nav fw-bold container justify-content-end text-uppercase">
            <li class="nav-item"><a href="" class="nav-link">HISTORY</a></li>
            <li class="nav-item"><a href="" class="nav-link">MERCH</a></li>
            <li class="nav-item"><a href="" class="nav-link">GET INVOLVED</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-primary-subtle text-uppercase">
  <div class="container-fluid">
    <a class="navbar-brand text-center p-1 m-0" href="#"><span class="fs-2 fw-bold">OAKLAND PRIDE</span><hr class="m-0 p-0"><span class="small m-0 p-0 fw-bold">SEPT 7 &middot; Frank Ogawa Plaza</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Tickets</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Registration</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Parade Contingent</a></li>
            <li><a class="dropdown-item" href="#">Festival Vendor/Exhibitor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Media / Press Pass</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Schedule</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Experiences</a></li>
        <li class="nav-item"><a class="nav-link" href="#">News</a></li>
      </ul>
      <a href="#" class="btn btn-lg btn-outline-primary fw-bold">BUY TICKETS</a>
    </div>
  </div>
</nav>