<div class="bg-warning-subtle">
    <div class="container">
        <ul class="nav fw-bold justify-content-end text-uppercase">
            <!-- <li class="nav-item"><a href="/history/" class="nav-link">HISTORY</a></li> -->
            <li class="nav-item"><a href="https://oaklandpride.printful.me/" target="_blank" class="nav-link">MERCH</a></li>
            <li class="nav-item"><a href="/sponsors/" class="nav-link">Sponsorship</a></li>
            <li class="nav-item"><a href="/volunteer/" class="nav-link">Volunteer</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top text-uppercase">
  <div class="container-fluid ps-4">
    <!-- <a href="/" class="navbar-brand"><img src="/assets/logo.png" width="200px" alt=""><br class="m-0 p-0"><span class="small m-0 p-0 fw-bold font-gilbert">SEPT 7 &middot; Frank H. Ogawa Plaza</span></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand text-center p-1 m-0" href="/"><span class="fs-2 fw-bold font-neue-haas-unica">OAKLAND <em>PRIDE</em></span><hr class="m-0 p-0"><span class="small m-0 p-0 fw-bold font-gilbert">SEPT 7 &middot; Frank H. Ogawa Plaza</span></a>    
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-size: 1.3rem;">
        <li class="nav-item"><a class="nav-link link-light fw-bold" href="/tickets/">Tickets</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle link-light fw-bold" href="#" role="button" data-bs-toggle="dropdown">Registration</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="https://eventhub.net/events/2025-Oakland-Pride-Parade_6915" target="_blank">Parade Contingent</a></li>
            <li><a class="dropdown-item fw-bold" href="https://eventhub.net/events/2025-Oakland-Pride-Festival_6901" target="_blank">Festival Vendor/Exhibitor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fw-bold" href="/media/">Media / Press Pass</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link link-light fw-bold" href="/festival/">Festival</a></li>
        <li class="nav-item"><a class="nav-link link-light fw-bold" href="/parade/">Parade</a></li>
        <li class="nav-item"><a class="nav-link link-light fw-bold" href="/news/">News</a></li>
      </ul>
    </div>
    <a id="eventhub-tickets-trigger" href="#" class="btn btn-lg btn-danger border-2 border-light fw-bold">BUY TICKETS</a>
  </div>
</nav>