<div class="bg-light">
    <div class="container">
        <ul class="nav fw-bold justify-content-end text-uppercase">
            <li class="nav-item"><a href="" class="nav-link">HISTORY</a></li>
            <li class="nav-item"><a href="" class="nav-link">MERCH</a></li>
            <li class="nav-item"><a href="" class="nav-link">Sponsorship</a></li>
            <li class="nav-item"><a href="" class="nav-link">Volunteer</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-primary-subtle sticky-top text-uppercase">
  <div class="container-fluid">
    <!-- <a href="/" class="navbar-brand"><img src="/assets/logo.png" width="200px" alt=""><br class="m-0 p-0"><span class="small m-0 p-0 fw-bold font-gilbert">SEPT 7 &middot; Frank Ogawa Plaza</span></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand text-center p-1 m-0" href="/"><span class="fs-2 fw-bold font-neue-haas-unica">OAKLAND <em>PRIDE</em></span><hr class="m-0 p-0"><span class="small m-0 p-0 fw-bold font-gilbert">SEPT 7 &middot; Frank Ogawa Plaza</span></a>    
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-size: 1.3rem;">
        <li class="nav-item"><a class="nav-link" href="/tickets/">Tickets</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Registration</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Parade Contingent</a></li>
            <li><a class="dropdown-item" href="#">Festival Vendor/Exhibitor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Media / Press Pass</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Festival</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Parade</a></li>
        <li class="nav-item"><a class="nav-link" href="#">News</a></li>
      </ul>
    </div>
    <a id="eventhub-tickets-trigger" href="#" class="btn btn-lg btn-outline-primary fw-bold">BUY TICKETS</a>
  </div>
</nav>