<div class="row bg-warning p-5">
    <div class="col col-4">
        <h2 class="fw-bold text-uppercase text-center">Get Updates</h2>
    </div>
    <div class="col col-7 col-md-4">
        <p>Stay in the know! Sign up for our newsletter & text notifications here.</p>
    </div>
    <div class="col col-12">
        <p>By submitting this form, you agree to receive marketing promotions from Oakland Pride by email and/or by SMS on your mobile phone. Reply STOP to unsubscribe from future SMS messaging. Message and data rates may apply.</p>
    </div>
    <div class="col col-12">
        <form action="https://formspree.io/f/mrblrlzy" class="form" method="POST">
            <div class="row">
                <div class="col">
                    <label class="text-uppercase" for="email">email</label>
                    <input class="form-control" type="email" name="email" id="signup-email" placeholder="rainbowz4eva@example.com" required>
                </div>
                <div class="col">
                    <label class="text-uppercase" for="phone">phone</label>
                    <input class="form-control" type="text" name="phone" id="signup-phone" placeholder="(510) 555-1234" required>
                </div>
                <div class="col">
                    <label class="text-uppercase" for="zip">zip</label>
                    <input class="form-control" type="text" name="zip" id="signup-zip" placeholder="ZIP CODE" required>
                </div>
            </div>
            <p class="text-end"><button class="btn btn-primary mt-2" type="submit">Sign Up</button></p>
            <p class="mt-2">By signing up, you agree to our <a href="/privacy-policy" class="text-decoration-none">Privacy Policy</a> and <a href="/terms-of-service" class="text-decoration-none">Terms of Service</a>.</p>
        </form>
    </div>
</div>
