---
---

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$cyclamen: hsla(337, 100%, 72%, 1);
$xanthous: hsla(43, 90%, 54%, 1);
$honolulu-blue: hsla(201, 85%, 38%, 1);
$thistle: hsla(327, 38%, 82%, 1);
$bistre: hsla(28, 28%, 13%, 1);

$primary: $honolulu-blue;
$secondary: $thistle;
$success: $green;
$info: $cyan;
$warning: $xanthous;
$danger: $cyclamen;
// $light: $thistle;
$dark: $bistre;


@import "bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.font-gilbert {
  font-family: "gilbert", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.font-neue-haas-unica {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.font-gilbert-color {
  font-family: "gilbert-color", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-groupie-gloss {
  font-family: "groupie-gloss", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-groupie {
  font-family: "groupie-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gilbert", sans-serif;
  font-weight: 700;
  font-style: normal;
}

a,
p,
li,
span,
div,
input,
button {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 1.3rem;
}

#video-background-1 {
  background: url('/assets/videos/video-background-1.mp4') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.text-outline {
  color: whitesmoke; /* The fill color of the text */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}
.blur-background {
  /* The backdrop-filter property */
  backdrop-filter: blur(3.33px);
  -webkit-backdrop-filter: blur(3.33px); /* For Safari support */
  /* Make the background transparent */
  background-color: rgba(255, 255, 255, 0.3); /* Example: 30% white */
}